<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a routerLink="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="navbar-logo">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" d="M12 4a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm0 0v8m0 0l4-4m-4 4l-4-4" />
                </svg>
                <span>PM2 Monitor</span>
            </a>
        </div>

        <button class="mobile-menu-toggle" (click)="toggleMobileMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>

        <div class="navbar-menu" [class.is-active]="isMobileMenuOpen">
            <div class="navbar-start">
                <a routerLink="/processes" routerLinkActive="active" class="navbar-item">Processes</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown">
                    <a class="navbar-link">
                        <span class="user-avatar">{{ username.charAt(0).toUpperCase() }}</span>
                        <span class="username">{{ username }}</span>
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" (click)="onLogout()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"
                                class="icon">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4M16 17l5-5-5-5M21 12H9" />
                            </svg>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>